.h-main {
  position: relative;
  width: 100%;
  height: 100%;
}

/* :root {
  --bg-color: #2c4a63;
  --radius: 20px;      
} */

.h-left {
  width: 1200px;
  height: 530px;
  background: #416880;
  margin: auto;
  border-radius: 0 0 50px 50px;
}

/* .h-right {
  position: absolute;
  background: rebeccapurple;
  width: 150px;
  height: 400px;
  border-radius: 40px 0 0 0;
  right: 0;
}

.h-down {
  position: absolute;
} */